:root {
	--color-content: #313c46;
	--color-background: #ecf7ff;
	--color-interactive: #009166;

	/* set a size basis for main content */
	--main-content-width: 960px;
	--site-width: 2560px;

	/* minimum padding space for content not supposed to touch the window edge*/
	--box-space: 2em;
	/* space between each section of a page */
	--section-space: 6em;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-content: #ecf7ff;
		--color-background: #252e37;
		--color-interactive: #00ffb3;
	}
}

body {
	font-family: Archivo, sans-serif;
}
