html,
body {
	height: 100%;

	/* this might break shit if fancy hash nav */
	scroll-behavior: smooth;

	/* prewent layout shift (plz) */
	scrollbar-gutter: stable;
	/* firefox only  :( */
	scrollbar-color: var(--color-interact) var(--color-background);
	scrollbar-width: thin;
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0s !important;
		transition-duration: 0s !important;
	}
}

body::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

body::-webkit-scrollbar-track-piece {
	background-color: var(--color-background);
}

body::-webkit-scrollbar-thumb:vertical {
	height: 30px;
	background-color: var(--color-interact);
}

body {
	min-width: 256px;
	/* set default color  */
	background-color: var(--color-background);
	color: var(--color-content);

	/* set default font  */
	font-family: 'Overpass Mono', monospace;
	font-size: 18px;
	font-size: clamp(12px, 2vw, 20px);

	/* reset box sizing on body */
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body > div#svelte {
	/* helps to have a default sized page */
	display: flex;
	flex-direction: column;
	height: 100%;
}

* {
	box-sizing: border-box;
	/* text-rendering: optimizeSpeed; */
}
*::selection {
	background: var(--color-interact);
	color: var(--color-background);
}

a {
	color: var(--color-interact);
	text-decoration: none;
}

a:focus,
a:hover {
	text-decoration: underline;
}

address {
	font-style: normal;
	display: inline;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.75em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.25em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 0.875em;
}

img {
	display: block;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
