html,
body {
	height: 100%;

	/* this might break shit if fancy hash nav */
	scroll-behavior: smooth;

	/* prewent layout shift (plz) */
	scrollbar-gutter: stable;
	/* firefox only  :( */
	scrollbar-color: var(--color-interactive) var(--color-background);
	scrollbar-width: thin;
}

/* scrollbar jump fix */
@media screen and (min-width: 960px) {
	html {
		margin-right: calc(100vw - 100%);
		margin-left: 0;
	}
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0s !important;
		transition-duration: 0s !important;
	}
}

body::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

body::-webkit-scrollbar-track-piece {
	background-color: var(--color-background);
}

body::-webkit-scrollbar-thumb:vertical {
	height: 30px;
	background-color: var(--color-interactive);
}

body {
	/* set default color  */
	background-color: var(--color-background);
	color: var(--color-content);

	/* set default font  */
	font-family: Arial, sans-serif;
	font-size: 18px;
	line-height: 1.6;
	letter-spacing: 0.05em;

	font-size: clamp(0.7rem, 2vw, 1.4rem);

	/* reset box sizing on body */
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body > div#svelte {
	/* helps to have a default sized page */
	display: flex;
	flex-direction: column;
	height: 100%;
}

* {
	box-sizing: border-box;
	/* text-rendering: optimizeSpeed; */
}
*::selection {
	background: var(--color-interactive);
	color: var(--color-background);
}

a {
	color: var(--color-interactive);
	text-decoration: none;
}

a:focus,
a:hover {
	text-decoration: underline;
}

address {
	font-style: normal;
	display: inline;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1 {
	font-size: 2.2em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1em;
}

img {
	display: block;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

@keyframes item-fade-in {
	0% {
		opacity: 0;
		transform: translateX(-30px);
	}
}
.fadein {
	animation: item-fade-in 0.15s ease-out backwards;
}

.article {
	display: flex;
	flex-direction: column;

	width: 100%;
	max-width: var(--main-content-width);

	padding: var(--box-space);
	margin: calc(var(--section-space) / 2) 0;
}

.paper {
	position: relative;
}

.paper *::selection {
	color: var(--color-background);
	background-color: var(--color-content);
}

.paper::after,
.paper::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	border-radius: 6px;
	box-sizing: border-box;
}
.paper::after {
	z-index: -2;

	background-color: var(--color-background);

	filter: brightness(1.2);

	box-shadow: 0 12px 10px rgba(0, 0, 0, 0.06), 0 22px 17px rgba(0, 0, 0, 0.07),
		0 41px 33px rgba(0, 0, 0, 0.08), 0 100px 80px rgba(0, 0, 0, 0.12);
}
.paper::before {
	z-index: -1;

	border: 1px solid var(--color-background);
	filter: brightness(1.15);
}

@media (prefers-color-scheme: dark) {
	.paper::after {
		filter: brightness(0.8);
	}
	.paper::before {
		filter: brightness(0.75);
	}
}
